@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    <h1>YOU LOSE!</h1>
    <div class="options">
        <div class="button" onclick="@(() => HandleClick())">
            Start Over
        </div>
    </div>
</root>

@code
{
    void HandleClick()
    {
        GameManagerRazor.Instance.ToggleLossPanel();
        GameManagerRazor.Instance.GameState = GameState.PreGame;
        GridManager.Instance.GenerateGrid();
    }

    protected override int BuildHash() => System.HashCode.Combine("8");
}
