@import "DefaultStyle.scss";
WinPanel {
	position: absolute;
	top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
	background-color: rgb(128, 128, 128, 0.8);
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
	font-size: 64px;
	flex-direction: column;
	pointer-events: all;

	.h2 {
		font-size: 128px;
		font-weight: bolder;
	}

	.options {
		flex-direction: column;
		align-items: center;
		cursor: pointer;
	}

	.title {
		font-size: 25px;
	}

	.button {
		background-color: #007bff; /* Primary color */
		color: #fff; /* White text */
		padding: 15px 30px; /* Padding for the button */
		border: none; /* Remove default border */
		border-radius: 10px; /* Rounded corners */
		font-size: 24px; /* Button text size */
		font-weight: bold;
		cursor: pointer; /* Pointer on hover */
		transition: background-color 0.3s ease, transform 0.2s ease;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
	}

	.button:hover {
		background-color: #0056b3; /* Darker blue on hover */
		transform: scale(1.05); /* Slightly grow on hover */
	}

	.button:active {
		transform: scale(0.95); /* Slightly shrink on click */
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjust shadow */
	}
}
